RewriteEngine On

# Wenn die Datei oder das Verzeichnis existiert, direkt ausliefern
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sonst leite alles an router.php weiter
RewriteRule ^(.+)$ router.php?page=$1 [QSA,L]
