/* ==========================================================================
   Globale Einstellungen & Variablen
   ========================================================================== */

:root {
  --primary-color: #007bff;
  --primary-hover-color: #0056b3;
  --text-color: #000000;
  --text-light-color: #333;
  --text-muted-color: #495057;
  --icon-color: #6c757d;
  --background-light: #fff;
  --background-gradient-start: #e2e2e2;
  --background-gradient-end: #c9d6ff;
  --border-color: #ced4da;
  --border-light-color: #dee2e6;
  --valid-color: #28a745;
  --invalid-color: #dc3545;
  --btn-light-bg: #f8f9fa;
  --btn-light-hover-bg: #e2e6ea;
  
}

body {
  background: linear-gradient(90deg, var(--background-gradient-start), var(--background-gradient-end));
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-lg);
  min-height: 100vh;
  font-family: sans-serif;
  color: var(--text-color);
}


/* Requirement List */
.requirement-list {
  list-style: none;
  padding: 0;
  margin-bottom: var(--spacing-lg);
  font-size: var(--font-size-sm);
  color: var(--text-muted-color);
}
    
.requirement-list li {
  margin-bottom: var(--spacing-xs);
}
    
.requirement-list li i {
  margin-right: var(--spacing-xs);
  color: var(--invalid-color);
  width: 1em;
  text-align: center;
}
    
.requirement-list li.valid i {
  color: var(--valid-color);
}

/*Sidebar*/
.sidebar-icon .top,
.sidebar-icon .middle,
.sidebar-icon .bottom {
  transition: all 0.3s ease;
  transform-origin: center;
}

.sidebar-icon.active .top {
  transform: translateY(6px) rotate(45deg);
}

.sidebar-icon.active .middle {
  opacity: 0;
}

.sidebar-icon.active .bottom {
  transform: translateY(-6px) rotate(-45deg);
}

/* Impressum*/
.impressum-content{
  text-align: justify;
  max-width: 800px;
}

/*Datenschutz*/
.datenschutz-content {
  max-width: 900px;
}

.datenschutz-section {
  margin-bottom: 2em;
  border-bottom: 2px solid var(--border-light-color);
  padding-bottom: 2em;
}

